// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: #222222;
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

//noinspection CssUnknownTarget
@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  .main-panel {
    padding: 15px;
  }
  
  .no-bottom-padding {
    padding: 5px;
  }
  
  .no-top-padding {
    padding: 5px;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    box-shadow: 0 0 2px 2px #222222;
  }
   
  .icon-green .v-icon {
    color: rgb(0, 128, 0);
  }
  
  .icon-green:focus:after {
    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.5);
  }
  
  .icon-yellow .v-icon {
    color: rgb(255, 200, 0);
  }  
  
  .icon-yellow:focus:after {
    box-shadow: 0 0 0 2px rgba(255, 200, 0, 0.5);
  }
  
  .icon-red .v-icon {
    color: rgb(255, 0, 0);
  }  
  
  .icon-red:focus:after {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5);
  }
  
  .icon-pink .v-icon {
    color: rgb(255, 0, 119);
  }  
  
  .icon-pink:focus:after {
    box-shadow: 0 0 0 2px rgba(255, 0, 119, 0.5);
  }
  
  .flat {
    border-radius: 0;
    border: 2px solid #222222;
    background: transparent none;
    box-shadow:none;
  }
  .flat:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
